.law-with-numbers {
  background-image: linear-gradient(to bottom, rgba(black, .6), rgba(white, .2)), url(/assets/images/404-background.jpg);
  background-size: cover;
  background-position: center;
}
