<div class=attorna-page-wrapper id=attorna-page-wrapper>

    <div class="attorna-content-container attorna-container  gdlr-core-sticky-sidebar gdlr-core-js">
        <div class=" attorna-sidebar-wrap clearfix attorna-line-height-0 attorna-sidebar-style-right">
            <div class=" attorna-sidebar-center attorna-column-40 attorna-line-height">
                <div class="attorna-content-wrap attorna-item-pdlr clearfix">
                    <div class=attorna-content-area>

                    <!-- Makale İçeriğinin Geleceği Yer Burası -->
                      <div *ngIf="uzmanlik">
                        <h2>{{uzmanlik.uzmanlik_baslik}}</h2>
                        <div [innerHTML]="uzmanlik.uzmanlik_mesaj" ></div>
                      </div>

                    </div>

                    <div class="attorna-page-builder-wrap attorna-item-rvpdlr">
                        <div class=gdlr-core-page-builder-body></div>
                    </div>

                    <div class="attorna-single-social-share clearfix">
                        <div class="gdlr-core-social-share-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-social-share-left-text gdlr-core-style-plain" style="padding-bottom: 0px ;">

                            <span class=gdlr-core-social-share-wrap>
                                <a class=gdlr-core-social-share-facebook href="#" target=_blank >
                                    <i class="fa fa-facebook" ></i>
                                </a>
                                <a class=gdlr-core-social-share-google-plus href="#" target=_blank >
                                    <i class="fa fa-google-plus" ></i>
                                </a>
                                <a class=gdlr-core-social-share-pinterest href="#" target=_blank >
                                    <i class="fa fa-pinterest-p" ></i>
                                </a>
                                <a class=gdlr-core-social-share-twitter href="#" target=_blank  >
                                    <i class="fa fa-twitter" ></i>
                                </a>
                            </span>
                        </div>
                        <div class="attorna-single-magazine-author-tags clearfix"></div>
                    </div>
                    <div class=clear></div>


                </div>
            </div>
            <div class=" attorna-sidebar-right attorna-column-20 attorna-line-height attorna-line-height">
                <div class="attorna-sidebar-area attorna-item-pdlr">
                    <div id=gdlr-core-recent-post-widget-2 class="widget widget_gdlr-core-recent-post-widget attorna-widget">
                        <h3 class="attorna-widget-title">Son Makaleler</h3><span class=clear></span>
                        <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">

                            <div *ngFor="let makale of makaleler; let i = index" class="gdlr-core-recent-post-widget clearfix">
                              <div *ngIf="i < 3">
                                <a [routerLink]="['/yayin', makale.id, makale.makale_slug]"><div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src="/assets/upload/icon22.png" alt></div></a>
                                <div class=gdlr-core-recent-post-widget-content>
                                    <div class=gdlr-core-recent-post-widget-title><a [routerLink]="['/yayin', makale.id, makale.makale_slug]">{{makale.makale_baslik}}</a></div>
                                    <div class=gdlr-core-recent-post-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class=gdlr-core-head ><i class=icon_documents_alt ></i></span>
                                      <a routerLink="/av-ali-keser" >Av. Ali Keser</a></span>
                                    </div>
                                </div>
                              </div>
                            </div>

                        </div>
                    </div>


                    <div id=gdlr-core-custom-menu-widget-5 class="widget widget_gdlr-core-custom-menu-widget attorna-widget">
                        <h3 class="attorna-widget-title">Uzmanlık Alanları</h3><span class=clear></span>
                        <div class=menu-practice-areas-container>
                            <ul id=menu-practice-areas class="gdlr-core-custom-menu-widget gdlr-core-menu-style-list">

                                <li *ngFor="let item of uzmanliklar" class="menu-item"><a [routerLink]="['/uzmanlik/', item['id'], item['uzmanlik_baslik_nondisplay']]">{{item.uzmanlik_baslik}}</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
