
<!-- SİDEBAR NAVİGATION -->
<div
  *ngIf="displaySidebar"
  [@siderbarChanged]="'sidebarEntered'"
  style="z-index : 10" class="attorna-mm-menu-wrap attorna-navigation-font mm-menu mm-pagedim-black mm-offcanvas mm-right mm-current mm-opened">
  <div class="mm-panels">
    <div class="mm-panel mm-hasnavbar mm-opened mm-current" id="menu-main-navigation">
      <div class="mm-navbar">
        <a class="mm-title" style="color : #f7f7f7" (click)="openMenu()">
          <span style="color: #f7f7f7" class="mmenu-custom-close"></span>
        </a>
      </div>
      <ul class="m-menu mm-listview">
        <li (click)="openMenu()" class="menu-item menu-item-home"><a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-menu-item">Ana Sayfa</a>

        </li>
        <li (click)="openMenu()" class="menu-item menu-item-home"><a routerLink="hakkimizda" routerLinkActive="active-menu-item">Hakkımızda</a>

        </li>
        <li (click)="openMenu()" class="menu-item menu-item-home"><a routerLink="av-ali-keser" routerLinkActive="active-menu-item">AV. ALİ KESER KİMDİR</a>

        </li>
        <li (click)="openMenu()" class="menu-item menu-item-home">
          <a
          routerLink="uzmanlik-alanlarimiz"
          routerLinkActive="active-menu-item"
          >
            UZMANLIK ALANLARI
          </a>

        </li>
        <li (click)="openMenu()" class="menu-item menu-item-home">
          <a
          routerLink="hukuki-yayinlar/1"
          routerLinkActive="active-menu-item"
          >
            YAYINLAR
          </a>

        </li>
        <li (click)="openMenu()" class="menu-item menu-item-home">
          <a
            routerLink="iletisim"
            routerLinkActive="active-menu-item"
          >
            İLETİŞİM
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


      <div class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js attorna-body attorna-body-front attorna-full  attorna-with-sticky-navigation  attorna-blockquote-style-1 gdlr-core-link-to-lightbox">
        <div class=attorna-top-bar>
            <div class=attorna-top-bar-background></div>
            <div class="attorna-top-bar-container attorna-container ">
                <div class="attorna-top-bar-container-inner clearfix">
                    <div class="attorna-top-bar-left attorna-item-pdlr"><i class="fa fa-phone" style="font-size: 15px ;color: #b1976b ;margin-right: 10px ;"></i>+1-2345-2345-54
                        <div style="margin-left: 12px; margin-right: 14px; display: inline;">&#183;</div><i class="fa fa-envelope-open-o" style="font-size: 14px ;color: #b1976b ;margin-right: 10px;"></i><a style="text-decoration: none; color: gray;" href=mailto:admin@logiscotheme.co>Contact@Attornasite.com</a>
                        <div style="margin-left: 10px; margin-right: 13px; display: inline;">&#183;</div><i class=icon_clock_alt style="font-size: 15px ;color: #b1976b ;margin-right: 10px ;"></i>Mon - Fri 09:00-17:00</div><a class=attorna-top-bar-right-button href=contact.html target=_self><i class="fa fa-comment-o" ></i>Free consultant</a>
                    <div class="attorna-top-bar-right attorna-item-pdlr">
                        <div class=attorna-top-bar-right-social><a href=# target=_blank class=attorna-top-bar-social-icon title=facebook><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=attorna-top-bar-social-icon title=linkedin><i class="fa fa-linkedin" ></i></a><a href=# target=_blank class=attorna-top-bar-social-icon title=pinterest><i class="fa fa-pinterest-p" ></i></a><a href=# target=_blank class=attorna-top-bar-social-icon title=twitter><i class="fa fa-twitter" ></i></a><a href=# target=_blank class=attorna-top-bar-social-icon title=instagram><i class="fa fa-instagram" ></i></a></div>
                    </div>
                </div>
            </div>
        </div>
      </div>



        <div
          *ngIf="displaySmallNav"
          class="attorna-sticky-menu-placeholder" style="height: 138px;"></div>


        <!-- Big Normal Header -->
        <header class="attorna-header-wrap attorna-header-style-plain  attorna-style-menu-right attorna-sticky-navigation attorna-style-fixed">
            <div class=attorna-header-background></div>
            <div class="attorna-header-container  attorna-container">
                <div class="attorna-header-container-inner clearfix">
                    <div class="attorna-logo  attorna-item-pdlr">
                        <div class=attorna-logo-inner>
                            <a class href=index.html><img src="/assets/upload/logo.png" alt width=400 height=71 title=logo></a>
                        </div>
                    </div>
                    <div class="attorna-navigation attorna-item-pdlr clearfix ">
                        <div class=attorna-main-menu id=attorna-main-menu>
                            <ul id=menu-main-navigation-1 class=sf-menu>
                                <li class="menu-item menu-item-home attorna-normal-menu">
                                  <a
                                    routerLink="/"
                                    [routerLinkActiveOptions]="{exact : true}"
                                    routerLinkActive="active-menu-item-black"
                                    >
                                    Ana Sayfa
                                  </a>

                                </li>
                                <li class="menu-item menu-item-has-children attorna-normal-menu">
                                  <a
                                    routerLink="hakkimizda"
                                    routerLinkActive="active-menu-item-black"
                                    >Hakkımızda</a>

                                </li>
                                <li class="menu-item menu-item-has-children attorna-normal-menu"><a
                                  routerLink="av-ali-keser"
                                  routerLinkActive="active-menu-item-black"
                                  >Av. Ali Keser Kimdir?</a>

                                </li>
                                <li class="menu-item menu-item-has-children attorna-normal-menu">
                                  <a
                                    routerLink="uzmanlik-alanlarimiz"
                                    routerLinkActive="active-menu-item-black">
                                    Uzmanlık Alanlarımız
                                  </a>

                                </li>
                                <li class="menu-item menu-item-has-children attorna-normal-menu">
                                  <a
                                    routerLink="hukuki-yayinlar/1"
                                    routerLinkActive="active-menu-item-black"
                                  >
                                    Yayınlar
                                  </a>

                                </li>
                                <li class="menu-item menu-item-has-children attorna-normal-menu">
                                  <a
                                    routerLink="iletisim"
                                    routerLinkActive="active-menu-item-black"
                                  >
                                    İletişim
                                  </a>

                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </header>





<div
  [ngClass]="{'custom-all-wrapper': displaySidebar}"
  [@siderbarChanged]="displaySidebar ? 'mainPage' : 'mainPageClosed'"
  style="position: relative;"
  class="no-js attorna-mmenu-right mm-opened mm-blocking mm-background mm-right mm-pagedim-black mm-opening">


  <div
    *ngIf="displaySidebar"
    (click)="openMenu()"
    [@siderbarChanged]="'backEntered'"
    style="height: 100vh; width: 100%; background-color:rgba(0, 0, 0, 0.5); position: sticky; top: 0; z-index: 100;"></div>

  <div
    [style.marginTop]="displaySidebar ? '-100vh' : 0"
    class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js attorna-body attorna-body-front attorna-full  attorna-with-sticky-navigation  attorna-blockquote-style-1 gdlr-core-link-to-lightbox">
    <!-- Mobile Header Normal -->
    <div class="attorna-mobile-header-wrap">
        <div
          *ngIf="displaySmallNav"
          class="attorna-sticky-mobile-placeholder"
          style="height: 75px;"></div>

        <div
          *ngIf="!displaySmallNav"
          class="attorna-mobile-header attorna-header-background attorna-style-slide attorna-sticky-mobile-navigation" style="display: block;">
            <div class="attorna-mobile-header-container attorna-container clearfix">
                <div class="attorna-logo  attorna-item-pdlr">
                    <div class="attorna-logo-inner">
                        <a class="" href="index.html"><img src="/assets/upload/logo.png" alt="" width="400" height="71" title="logo"></a>
                    </div>
                </div>
                <div class="attorna-mobile-menu-right">

                    <div
                      (click)="openMenu()"
                      class="attorna-mobile-menu">
                        <a class="attorna-mm-menu-button attorna-mobile-menu-button attorna-mobile-button-hamburger-with-border">
                          <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Mobile Header Sticky -->
    <div
      *ngIf="displaySmallNav"
      [@menuChanged]="'entered'"
      class="attorna-mobile-header attorna-header-background attorna-style-slide attorna-sticky-mobile-navigation attorna-fixed-navigation"
      >
        <div class="attorna-mobile-header-container attorna-container clearfix">
            <div class="attorna-logo  attorna-item-pdlr">
                <div class="attorna-logo-inner">
                    <a class="" href="index.html"><img src="/assets/upload/logo.png" alt="" width="400" height="71" title="logo"></a>
                </div>
            </div>
            <div class="attorna-mobile-menu-right">

                <div
                  (click)="openMenu()"
                  class="attorna-mobile-menu">
                  <a class="attorna-mm-menu-button attorna-mobile-menu-button attorna-mobile-button-hamburger-with-border">
                    <i class="fa fa-bars"></i>
                  </a>
                </div>

            </div>
        </div>
    </div>


  <router-outlet></router-outlet>


  <div class="gdlr-core-pbf-wrapper " style="padding: 60px 0px 10px 0px;">
      <div class=gdlr-core-pbf-background-wrap style="background-color: #1d1d1d ;"></div>
      <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
          <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
              <div class=gdlr-core-pbf-element>
                  <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix  gdlr-core-gallery-item-style-grid" style="padding-bottom: 10px ;">
                      <div class="gdlr-core-gallery-item-holder gdlr-core-js-2 clearfix" data-layout=fitrows>
                          <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-column-first gdlr-core-item-pdlr gdlr-core-item-mgb">
                              <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="/assets/upload/banner-1-d.png" alt width=220 height=120 title=banner-1-d></div>
                          </div>
                          <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                              <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="/assets/upload/banner-2-d.png" alt width=220 height=120 title=banner-2-d></div>
                          </div>
                          <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                              <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="/assets/upload/banner-3-d.png" alt width=220 height=120 title=banner-3-d></div>
                          </div>
                          <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                              <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="/assets/upload/banner-4-d.png" alt width=220 height=120 title=banner-4-d></div>
                          </div>
                          <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
                              <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="/assets/upload/banner-5-d.png" alt width=220 height=120 title=banner-5-d></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class=gdlr-core-pbf-element>
                  <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 0px ;">
                      <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3a3a3a ;"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <footer>
      <div class="attorna-footer-wrapper ">
          <div class="attorna-footer-container attorna-container clearfix">
              <div class="attorna-footer-column attorna-item-pdlr attorna-column-15">
                  <div id=text-1 class="widget widget_text attorna-widget">
                      <div class=textwidget>
                          <p><img class="alignnone size-full wp-image-6129" src="/assets/upload/logo-footer.png" alt width=210>
                              <br> <span class=gdlr-core-space-shortcode style="margin-top: -27px ;"></span>
                              <br> One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into.</p>
                          <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" style="padding-bottom: 0px ;"><a href=#url target=_blank class=gdlr-core-social-network-icon title=facebook style="font-size: 16px ;color: #b1976b ;"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=linkedin style="font-size: 16px ;color: #b1976b ;"><i class="fa fa-linkedin" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest style="font-size: 16px ;color: #b1976b ;"><i class="fa fa-pinterest-p" ></i></a><a href=#url target=_blank class=gdlr-core-social-network-icon title=twitter style="font-size: 16px ;color: #b1976b ;"><i class="fa fa-twitter" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=instagram style="font-size: 16px ;color: #b1976b ;"><i class="fa fa-instagram" ></i></a></div>
                      </div>
                  </div>
              </div>
              <div class="attorna-footer-column attorna-item-pdlr attorna-column-15">
                  <div id=text-7 class="widget widget_text attorna-widget">
                      <h3 class="attorna-widget-title">Contact Info</h3><span class=clear></span>
                      <div class=textwidget>
                          <p>Box 3233
                              <br> 1810 Kings Way
                              <br> King Street, 5th Avenue, New York</p>
                          <p><span style="color: #fff;">+1-2355-3345-5</span>
                              <br> <span style="color: #a69a87;">Contact@Attornasite.co</span></p>
                      </div>
                  </div>
              </div>
              <div class="attorna-footer-column attorna-item-pdlr attorna-column-30">
                  <div id=gdlr-core-custom-menu-widget-4 class="widget widget_gdlr-core-custom-menu-widget attorna-widget">
                      <h3 class="attorna-widget-title">Practice Areas</h3><span class=clear></span>
                      <div class=menu-practice-areas-container>
                          <ul id=menu-practice-areas class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half">
                              <li class="menu-item" ><a style="text-decoration: none;" href=#>Coporate &#038; Securities</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Real Estate Law</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Health Care Law</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Insurance Law</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Construction &#038; Engineering</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Ecommerce Law</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Private Fund</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Power &#038; Energy</a></li>
                              <li class="menu-item"><a style="text-decoration: none;" href=#>Lending Law</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class=attorna-copyright-wrapper>
          <div class="attorna-copyright-container attorna-container clearfix">
              <div class="attorna-copyright-left attorna-item-pdlr">Copyright 2019 Attorna, All Right Reserved</div>
              <div class="attorna-copyright-right attorna-item-pdlr"><a href=# style=margin-left:21px;>Home</a><a href=# style=margin-left:21px;>Cases </a><a href=# style=margin-left:21px;>About</a><a href=# style=margin-left:21px;>Legal</a><a href=# style=margin-left:21px;>Privacy & Policy</a></div>
          </div>
      </div>
  </footer>



  <!-- Header On Scroll -->
      <header
        *ngIf="displaySmallNav"
        [@menuChanged]="'entered'"
        class="attorna-header-wrap attorna-header-style-plain  attorna-style-menu-right attorna-sticky-navigation attorna-style-fixed attorna-fixed-navigation attorna-animate-fixed-navigation">
            <div class="attorna-header-background"></div>
              <div class="attorna-header-container  attorna-container">
                  <div class="attorna-header-container-inner clearfix">
                      <div class="attorna-logo  attorna-item-pdlr">
                          <div class="attorna-logo-inner">
                              <a class="" href="index.html"><img src="/assets/upload/logo.png" alt="" width="400" height="71" title="logo"></a>
                          </div>
                      </div>
                      <div class="attorna-navigation attorna-item-pdlr clearfix ">
                          <div class="attorna-main-menu sf-js-enabled sf-arrows" id="attorna-main-menu" style="touch-action: pan-y;">
                              <ul id="menu-main-navigation-1" class="sf-menu">
                                  <li class="menu-item menu-item-home menu-item-has-children attorna-normal-menu">
                                    <a
                                      routerLink=""
                                      [routerLinkActiveOptions]="{exact: true}"
                                      routerLinkActive="active-menu-item-black"
                                    >
                                      Ana Sayfa
                                    </a>

                                  </li>
                                  <li class="menu-item menu-item-has-children attorna-normal-menu">
                                    <a
                                      routerLink="hakkimizda"
                                      routerLinkActive="active-menu-item-black"
                                    >
                                      Hakkımızda
                                    </a>
                                  </li>
                                  <li class="menu-item menu-item-has-children attorna-normal-menu">
                                    <a
                                      routerLink="av-ali-keser"
                                      routerLinkActive="active-menu-item-black"
                                    >
                                      Av. Ali Keser Kimdir?
                                    </a>
                                  </li>
                                  <li class="menu-item menu-item-has-children attorna-normal-menu">
                                    <a
                                      routerLink="uzmanlik-alanlarimiz"
                                      routerLinkActive="active-menu-item-black"
                                    >
                                      Uzmanlık Alanları
                                    </a>

                                  </li>
                                  <li class="menu-item menu-item-has-children attorna-normal-menu">
                                    <a
                                      routerLink="hukuki-yayinlar/1"
                                      routerLinkActive="active-menu-item-black"
                                    >
                                      Yayınlar
                                    </a>

                                  </li>
                                  <li class="menu-item menu-item-has-children attorna-normal-menu">
                                    <a
                                      routerLink="iletisim"
                                      routerLinkActive="active-menu-item-black"
                                    >
                                      İletişim
                                    </a>

                                  </li>
                              </ul>
                              <div class="attorna-navigation-slide-bar" id="attorna-navigation-slide-bar" style="left: 563.938px; display: block;"></div>
                          </div>

                      </div>
                  </div>
              </div>
      </header>

  </div>

</div>
