<div class=attorna-page-wrapper id=attorna-page-wrapper>
    <div class=gdlr-core-page-builder-body>
        <div class="gdlr-core-pbf-wrapper " style="padding-top: 95px;padding-bottom: 100px;" id=gdlr-core-wrapper-1>

            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                  <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first shadow-about" id=gdlr-core-column-1>
                      <div class="gdlr-core-pbf-column-content-margin gdlr-core-js about-first-picture" style="height: 600px;">
                          <div class="gdlr-core-pbf-background-wrap" style="border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;">
                              <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(/assets/images/alfa-hukuk-hakkimizda.png) ;background-size: cover ;background-position: center ;"></div>
                          </div>
                      </div>
                  </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30" id=gdlr-core-column-2>
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 70px 0px 60px;">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                <div class="gdlr-core-pbf-element" style="margin-top: 10px;">
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align" style="margin-bottom: 25px ;">
                                        <div class=gdlr-core-divider-container style="max-width: 36px ;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #b1976b ;border-bottom-width: 6px ;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class=gdlr-core-pbf-element>
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"><span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 14px ;font-weight: 700 ;font-style: normal ;letter-spacing: 3px ;text-transform: uppercase ;color: #a3a3a3 ;">Alfa Hukuk Hakkında</span>
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 36px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #202020 ;">Alfa Hukuk & Danışmanlık<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                    </div>
                                </div>
                                <div class=gdlr-core-pbf-element>
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 20px ;">
                                        <div class=gdlr-core-text-box-item-content style="text-transform: none ;color: #6d6d6d ;">
                                            <p>Alfa Hukuk ve Danışmanlık olarak kurulduğumuz ilk günden bugüne başta Avukat Ali Tarak olmak üzere tüm kadromuzla birlikte hukukun üstünlüğü temelinde profesyonel danışmanlık ve avukatlık hizmetleri sunmaktayız. Yaşanan anlaşmazlık ve sorunların adli sürece taşınması, yasal haklar ve diğer birçok konuda müvekkillerimizi temsil ederek, içerisinde bulundukları sürecin en kısa sürede sonuçlandırılması için çalışmalar gerçekleştirmekteyiz.</p>

                                        </div>
                                    </div>
                                </div>

                                <div class=gdlr-core-pbf-element>
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 0px ;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 11px ;font-weight: 500 ;letter-spacing: 3px ;color: #6d6d6d ;"> Av. Ali Tarak<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      <div class="container">
        <div class="row">
          <h2>Amacımız</h2>
          <p>
            İskenderun Avukat kadromuzla birlikte almış olduğumuz eğitim ve yıllardır sağlamış olduğumuz hukuki danışmanlık ve avukatlık hizmetlerimizle birlikte birçok alanda tecrübe ve birikime sahip olmayı başararak Ceza Hukuku, İş Hukuku, İcra ve İflas Hukuku, Tazminat Hukuku, Gayrimenkul Hukuku, Miras Hukuku, Aile Hukuku, Ticaret Hukuku ve Sözleşmeler Hukuku başta olmak üzere oldukça geniş bir yelpazede müvekkillerimize hizmet sunmaktayız. Başta Avukat Ali Tarak olmak üzere Alfa Hukuk ve Danışmanlık olarak benimsemiş olduğumuz temel prensibimiz, müvekkillerimize etkin, hızlı ve şeffaf bir çerçevede hizmet sağlamaktır.
          </p>
        </div>
      </div>

        <app-aboutcounter></app-aboutcounter>



    </div>
</div>
