<div class="attorna-page-wrapper">
    <div class="attorna-not-found-wrap">
        <div class="attorna-not-found-background"></div>
        <div class="attorna-not-found-container attorna-container">
            <div class="attorna-header-transparent-substitute"></div>
            <div class="attorna-not-found-content attorna-item-pdlr">
                <h1 class="attorna-not-found-head">404</h1>
                <div class="attorna-not-found-caption">Üzgünüz, böyle bir sayfa yok.</div>
            <hr>
                <div class="attorna-not-found-back-to-home"><a routerLink="/">Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>
